/*====== Font Link hare ======== */

/* Regular weight */
@font-face {
    font-family: "Qualy Neue";
    src: url('fonts/qualy-neue-regular.woff2') format('woff2'), url('fonts/qualy-neue-regular.woff') format('woff'), url('fonts/qualy-neue-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Regular light */
@font-face {
    font-family: "Qualy Neue";
    src: url('fonts/qualy-neue-light.ttf') format('woff2'), url('fonts/qualy-neue-light.woff') format('woff'), url('fonts/qualy-neue-light.woff2') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* medium weight */
@font-face {
    font-family: "Qualy Neue";
    src: url('fonts/qualy-neue-medium.ttf') format('woff2'), url('fonts/qualy-neue-medium.woff') format('woff'), url('fonts/qualy-neue-medium.woff2') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Bold weight */
@font-face {
    font-family: "Qualy Neue";
    src: url('fonts/qualy-neue-bold.ttf') format('woff2'), url('fonts/qualy-neue-bold.woff') format('woff'), url('fonts/qualy-neue-bold.woff2') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* GOBAL CSS START */
body {
    font-family: "Qualy Neue";
    font-size: 16px;
    font-weight: 400;
    background: linear-gradient(0deg, #d7d7d7 0%, #ffffff 100%);
    background-repeat: no-repeat;
    color: #000;
}

:root {
    --selection-bg: #0078d7;
    --selection-color: #fff;
    --scroll-top-bg: #39b54a;
    --primary-color: #39b54a;
    --scroll-top-color: #fff;
    --black-color: #000000;
    --white-color: #ffffff;
}

html,
body,
header,
footer,
main,
nav,
section,
div,
menu,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
button {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

button:focus,
a:focus,
input:focus,
textarea:focus,
select:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
}

a:visited,
a:hover,
a:active {
    text-decoration: none;
}

img {
    max-width: 100%;
}

::selection {
    color: var(--selection-color);
    background: var(--selection-bg);
}

::-webkit-selection {
    color: var(--selection-color);
    background: var(--selection-bg);
}

::-moz-selection {
    color: var(--selection-color);
    background: var(--selection-bg);
}

.scrolltotop {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: var(--scroll-top-bg);
    text-align: center;
    font-size: 20px;
    color: var(--scroll-top-color);
    position: fixed;
    right: 30px;
    bottom: 25px;
    display: none;
    animation: lab_top_up 5s linear infinite;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 999;
}

.scrolltotop img {
    width: 14px;
    margin-top: -4px;
}

@keyframes lab_top_up {
    0% {
        transform: translateY(-15px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-15px);
    }
}

.pluse,
.pluse2 {
    position: relative;
    top: 10px;
    left: -7px;
    z-index: -1;
}

.pluse::before,
.pluse2::before {
    width: 40px;
    height: 40px;
}

.pluse::after,
.pluse::before,
.pluse2::after,
.pluse2::before {
    background: var(--scroll-top-bg);
    border-radius: 50%;
    left: 50%;
    top: 50%;
    display: block;
    content: "";
    position: absolute;
    top: 4px;
    left: -1px;
}

.pluse::after,
.pluse2::after {
    width: 30px;
    height: 30px;
    background: transparent;
    margin-left: -15px;
    margin-top: -15px;
}

.pluse::before {
    -webkit-animation: pluse_animate 2.5s infinite linear;
    animation: pluse_animate 2.5s infinite linear;
}

.pluse2::before {
    -webkit-animation: pluse_animate 3s infinite linear;
    animation: pluse_animate 3s infinite linear;
}

@keyframes pluse_animate {
    0% {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%) scale(0.3);
        transform: translate(-50%, -50%) scale(0.3);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(-50%, -50%) scale(2);
        transform: translate(-50%, -50%) scale(2);
    }
}

/*===============
 GOBAL CSS END  
 ============== */

/*============ header area style start hare ========= */

.header-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 22;
}

.header-area .container {
    max-width: 1370px;
}

.navbar-area {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    color: var(--white-color);
}

.navbar-area ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.nav-logo img {
    max-width: 195px;
}

.web-mode-btn button {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: none;
    background: var(--primary-color);
    color: var(--white-color);
    font-size: 18px;
}

/* togger button style  */

.toggler-btn input[type="checkbox"] {
    position: relative;
    width: 42px;
    height: 17px;
    border-radius: 8px;
    -webkit-appearance: none;
    appearance: none;
    background: var(--white-color);
    outline: none;
    cursor: pointer;
    border: 2px solid var(--primary-color);
    visibility: hidden;
}

.toggler-btn input[type="checkbox"]::before {
    content: "";
    width: 27px;
    height: 15px;
    border-radius: 8px;
    background: var(--primary-color);
    position: absolute;
    top: -1px;
    right: -1px;
    transition: 0.5s;
}

.toggler-btn input[type="checkbox"]:checked::before {
    transform: translateX(-50%);
}

.nav-action-btn button {
    background: transparent;
    border: none;
    color: var(--primary-color);
    visibility: hidden;
}

.navbar-navs .nav-links {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--white-color);
    font-weight: 700;
    display: inline-block;
    padding: 5px;
    position: relative;
}

.navbar-navs .nav-links::before {
    content: '';
    clear: both;
    width: 0%;
    height: 1.5px;
    background: var(--white-color);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.3s;
}

.navbar-navs .nav-links:hover::before {
    width: 100%;
}

.menu-togger button {
    background: transparent;
    border: none;
    font-size: 30px;
    color: var(--white-color);
}

.offcanvas-title img {
    max-width: 170px;
}

.list-unstyled {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list-unstyled .nav-link {
    padding: 5px 0;
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 1.5px solid #000;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 5px;
}

.social-icons ul {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 !important;
}

.social-icons ul a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid var(--white-color);
    border-radius: 50%;
}

.social-icons ul svg {
    width: 18px;
    height: 18px;
}

.nav-logo .dark-logo {
    display: none;
}

@keyframes nav-effect {
    0% {
        transform: translateY(-150px);
    }
    100% {
        transform: translateY(20px);
    }
}

.header-area.header-fixed {
    position: fixed;
    animation: nav-effect 0.8s ease forwards;
}

.header-fixed .navbar-area {
    background: #fff;
    color: var(--black-color);
    border: 1px solid #ababab;
    border-radius: 12px;
    padding: 20px 0 !important;
    margin: 0 !important;
}

.header-fixed .web-mode-btn {
    display: none !important;
}

.header-fixed .nav-logo .dark-logo {
    display: block;
}

.header-fixed .nav-logo .light-logo {
    display: none;
}

.header-fixed .navbar-navs .nav-links {
    color: var(--black-color);
}

.header-fixed .navbar-navs .nav-links.active {
    color: var(--primary-color);
}

.header-fixed .toggler-btn input[type="checkbox"] {
    visibility: visible;
}

.header-fixed .nav-action-btn button {
    visibility: visible;
}

.header-fixed .navbar-navs .nav-links::before {
    background: var(--black-color);
}

.header-fixed .header-top {
    display: none !important;
}

.header-fixed .menu-togger button {
    color: var(--black-color);
}

/*========= hero area style start hare =========== */

.hero-area .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 30px;
}

.hero-wrapper {
    min-height: 92dvh;
    background: url(images/hero-img.png) no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 29px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    padding-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: var(--white-color);
    gap: 20px;
    padding-inline: 15px;
}

.hero-wrapper::before {
    content: '';
    clear: both;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    background: var(--black-color);
    z-index: -1;
    opacity: 0.831;
}

.hero-wrapper h3 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
}

.hero-wrapper h2 {
    font-size: 50px;
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: 700;
    text-align: center;
}

.action-btn {
    padding: 14px 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 2;
    border-radius: 999px;
}

.action-btn::before {
    content: '';
    clear: both;
    display: block;
    width: 100%;
    height: 0%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.3s;
}

.action-btn:hover::before {
    height: 100%;
}

.action-btn.btn-light-fill {
    background: var(--white-color);
    border-color: var(--white-color);
    color: var(--black-color);
}

.action-btn.btn-light-fill:hover {
    color: var(--white-color);
    border-color: var(--primary-color);
}

.action-btn.btn-light-fill::before {
    background: var(--primary-color);
}

.action-btn.btn-primary {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.action-btn.btn-primary:hover {
    color: var(--white-color);
}

.action-btn.btn-primary::before {
    background: var(--primary-color);
}

.hero-action-btns {
    display: flex;
    align-items: center;
    gap: 40px;
}

.hero-scroll-btn {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
}

.hero-scroll-btn a {
    font-size: 40px;
    color: var(--white-color);
}

.hero-scroll-btn a:hover {
    color: var(--primary-color);
}

/*========== hero area style end hare ========== */

/*===== feature area style start hare ===== */

.feature-area {
    padding: 50px 0;
}

.feature-wrapper {
    background: url(images/feature-area-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10px 50px;
    border-radius: 999px;
}

.single-feature-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    padding: 20px 10px;
    gap: 10px;
    height: 100%;
    max-width: 250px;
    margin: 0 auto;
}

.single-feature-card h1 {
    font-size: 50px;
    color: var(--white-color);
    font-weight: 400;
}

.single-feature-card h4 {
    font-size: 18px;
    color: var(--primary-color);
    font-weight: 400;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.feature-top {
    position: relative;
    z-index: 5;
}

/*========= feature area style end hare =========== */

/*========= service area style start hare  ==========*/

.service-area {
    padding: 50px 0;
    overflow: hidden;
}

.service-section-top h2 {
    font-size: 72px;
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: 700;
    text-align: center;
}

.service-section-top p {
    font-size: 18px;
    color: var(--black-color);
    text-align: center;
}

.service-wrapper {
    padding-top: 60px;
}

.service-left-card h4 {
    font-size: 39px;
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: bold;
}

.service-left-card p {
    font-size: 27px;
    color: var(--black-color);
    font-weight: 300;
}

.service-left-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.single-service .icons img {
    max-width: 50px;
}

.single-service {
    display: flex;
    align-items: start;
    gap: 30px;
}

.service-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.service-details h4 {
    font-size: 24px;
    text-transform: uppercase;
    color: var(--black-color);
    font-weight: 700;
    text-decoration: underline;
}

.service-details p {
    font-size: 16px;
    color: var(--black-color);
    font-weight: 300;
}

.service-block {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/*========= service area style end hare ========== */

/*====== how it work area style start hare ======== */

.howitwork-area {
    padding: 50px 0;
}

.howWork-left {
    padding: 50px;
    background: url(images/emoji-bg.png) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.howItWork-right h2 {
    font-size: 127px;
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: bold;
}

.howItWork-right span {
    font-size: 18px;
    text-transform: uppercase;
    color: var(--black-color);
}

.single-work-card {
    display: flex;
    align-items: end;
}

.single-work-card h1 {
    font-size: 109px;
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: 700;
    line-height: 73%;
}

.work-content h4 {
    font-size: 30px;
    text-transform: uppercase;
    color: var(--white-color);
    font-weight: 700;
    line-height: 80%;
}

.work-content p {
    font-size: 11px;
    text-transform: uppercase;
    color: var(--white-color);
}

.How-work-card {
    background: url(images/how-work-card-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 38px;
}

/*========= how it work area end hare ========= */

/*========== brands area style start hare ====== */

.brand-area {
    padding: 50px 0;
}

.brand-content h2 {
    font-size: 63px;
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: 700;
}

.brand-content p {
    font-size: 16px;
    color: var(--black-color);
}

.action-btn.btn-dark-fill {
    background: var(--black-color);
    border-color: var(--black-color);
    color: var(--white-color);
}

.action-btn.btn-dark-fill::before {
    background: var(--primary-color);
}

.action-btn.btn-dark-fill:hover {
    border-color: var(--primary-color);
}

.brand-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.barnd-action-btn {
    margin-top: 20px;
}

/*=========== brand area style end hare ========= */

/*====== testimonials area style start hare ====== */

.testimonials-area {
    padding: 50px 0;
}

.testimonial-top h2 {
    font-size: 60px;
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: 700;
    text-align: center;
}

.testimonial-top p {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
}

.reviewer-logo img {
    width: 45px;
    height: 45px;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    object-fit: cover;
}

.reviewer-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.reviewer-name h4 {
    font-size: 16px;
    text-transform: uppercase;
    color: #dcdcdc;
    font-weight: bold;
}

.review-card {
    background: var(--black-color);
    padding: 20px;
    border: 3px solid var(--primary-color);
    border-radius: 28px;
    color: var(--white-color);
    min-height: 373px;
}

.review-text-box h4 {
    font-size: 14px;
    text-transform: uppercase;
    color: #dcdcdc;
    font-weight: 700;
}

.review-text-box p {
    font-size: 14px;
}

.review-text-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    text-align: center;
    padding-top: 10px;
}

.rating-star i {
    color: var(--primary-color);
}

.swiper-scrollbar-drag {
    background: var(--primary-color);
}

.testimonials-wrapper {
    padding-top: 50px;
}

.custom-pagination {
    margin-top: 20px;
    max-width: 624px;
    margin-inline: auto;
    width: 100%;
}

.custom-pagination .swiper-scrollbar {
    position: unset;
    height: 10px !important;
    border-radius: 5px;
    background-color: #c8c8c8;
}

/*======== testimonial area style end hare ======== */

/*========= contact area style start hare ======== */

.contact-area {
    padding: 50px 0;
}

.contact-wrapper {
    padding: 20px;
    border-radius: 27px;
    background: var(--black-color);
    background-image: url(images/contact-area-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contact-title h2 {
    font-size: 168px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    text-align: center;
    font-size: 18px;
    color: #fff;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: var(--white-color);
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contact-form h4 {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: var(--black-color);
    font-weight: 700;
}

.contact-form option {
    color: var(--black-color) !important;
}

.submit-btn button {
    background: transparent;
    border-color: var(--white-color);
    color: var(--white-color);
}

.submit-btn button::before {
    background: var(--primary-color);
}

/*=========== contact area style end hare ========= */

/*============= footer style start hare ========== */

.footer-area {
    padding-bottom: 30px;
    padding-top: 50px;
    background: linear-gradient(to right, #00083B, #2D0B01);
    border-top-left-radius: 100px;
    color: var(--white-color);
    overflow: hidden;
}

.footer-logo a img {
    max-width: 170px;
}

.footer-left-block p {
    max-width: 80%;
    margin-top: 25px;
}

.footer-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.office-email a {
    text-decoration: underline;
}

.footer-links ul {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-links ul li a {
    padding: 5px 0;
}

.footer-links ul li a:hover {
    color: var(--primary-color);
}

.footer-block-title h4 {
    position: relative;
    display: inline-block;
}

.footer-block-title h4::before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background: #79757C;
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: -5px;
}

.footer-block-title h4::after {
    content: '';
    display: block;
    width: 20%;
    height: 5px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    right: 10%;
    bottom: -5px;
}

.newslatter-box {
    margin-top: 15px;
    padding-top: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    justify-content: space-between;
}

.newslatter-box i {
    font-size: 18px;
}

.newslatter-box input {
    background: transparent;
    border: none;
    color: #fff;
    flex: 1;
    width: 100%;
}

.newslatter-box button {
    background: transparent;
    border: none;
    color: #fff;
}

.office-address {
    padding-top: 15px;
}

.footer-social {
    padding-top: 10px;
}

.footer-social ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.footer-social ul li a {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    background: #fff;
    color: var(--black-color);
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.accordion-inner-wp {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-copyright {
    padding: 20px 0;
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #fff;
}


/*================= Branding Page Style =================== */

.our-offer-area {
    padding: 50px 0;
}
.section-top-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.section-top-card h2 {
    font-size: 60px;
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: 700;
}
.section-top-card p {
    font-size: 18px;
    color: var(--black-color);
    font-weight: 300;
    max-width: 750px;
    margin: 0 auto;
}

.our-offer-wrapper {
    padding-top: 50px;
    max-width: 950px;
    margin: 0 auto;
}

.offer-card {
    background: var(--black-color);
    color: var(--white-color);
    text-align: center;
    padding: 20px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 26px;
    border: 2px solid var(--primary-color);
}
.offer-card h3 {
    font-size: 22px;
    text-transform: uppercase;
    color: var(--white-color);
    font-weight: 300;
}

/*========= offer area style end hare ======== */
/*=== brands builder area style start hare ===== */

.brand-builder-area {
    padding: 50px 0;
}

.brand-builder-area .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 30px;
}

.brand-builder-wrapper {
    padding: 60px 20px;
    background: url(images/brand-builder-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 44px;
    background-color: var(--black-color);
}

.brand-builder-content h2 {
    font-size: 60px;
    text-transform: uppercase;
    color: var(--white-color);
    font-weight: 700;
    text-align: center;
}

.brand-builder-content {
	max-width: 950px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 35px;
}
.brand-builder-content p {
    font-size: 18px;
    color: var(--white-color);
    font-weight: 300;
    text-align: center;
}

.single-builder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.single-builder img {
    max-width: 48px;
}
.single-builder p {
    font-size: 18px;
    color: var(--white-color);
    font-weight: 300;
    text-align: center;
}

/*======== brand builder style end hare ======= */
/*======== our progress area start hare ======== */

.our-progress-area {
    padding: 50px 0;
}

.progess-wrapper {
    padding-top: 50px;
}

.progress-left-card {
    display: flex;
}
.progress-left-card .progess-images {
    flex: 1;
    position: relative;
    z-index: 2;
}
.progress-tab-nav {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    gap: 15px;
    margin-left: -5px;
}
.progress-tab-nav button {
    flex: 1;
    writing-mode: vertical-lr;
    width: 40px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: var(--primary-color);
    font-size: 25px;
    text-transform: uppercase;
    color: #ebebeb;
    transition: 0.3s;
}
.progress-tab-nav button:hover {
    background: var(--black-color);
}

.tab.active {
      background: var(--black-color);
    }

    .tab-content {
      display: none;
    }

    .tab-content.active {
      display: block;
    }

.progess-tab-content {
    padding: 0 30px;
}

.progress-tab-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.progress-tab-card h2 {
    font-size: 81px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 700;
    text-align: center;
}

.progress-inner-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.progress-inner-content h4 {
    font-size: 18px;
    text-transform: uppercase;
    color: var(--black-color);
    font-weight: 700;
    text-align: center;
}
.progress-inner-content p {
    font-size: 16px;
    color: var(--black-color);
    text-align: center;
}

/*========== our progress area end hare ========= */
/*======= jursery design area style start hare ======== */

.jursey-designer-area {
    padding: 50px 0;
}

.jursey-wrapper {
    margin-top: 20px;
    margin-inline: auto;
    width: 720px;
    max-width: 100%;
    border-radius: 30px;
    background: url(images/jursey-design-bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #39b54a;
    padding: 35px 40px;
}

.design-list {
    display: flex;
    align-items: start;
}

.design-list ul {
    list-style: disc;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
}
.design-list ul li {
    color: var(--white-color);
}
.design-list ul li::marker {
    color: var(--primary-color);
}

.jursey-right-card p {
    color: var(--white-color);
}
.jursey-right-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-for-design {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.contact-for-design h4 {
    font-size: 16px;
    text-transform: uppercase;
    color: var(--white-color);
    font-weight: 700;
}

/*=========== jursey design area style end hare ======== */

.roating-bar {
    padding: 50px 0;
    overflow: hidden;
}

.roating-bar li {
    font-size: 78px;
    text-transform: uppercase;
    color: #000000;
    margin-inline: 10px;
}

/*=========== contact us page style start hare ========= */

.talk-area {
    padding: 50px 0;
}

.talk-wrapper {
    max-width: 1020px;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.talk-card {
    display: flex;
    align-items: center;
    gap: 20px;
}

.talk-card .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: var(--white-color);
}
.talk-card a,
.talk-card p {
    font-size: 22px;
    color: var(--black-color);
    font-weight: 300;
}
.talk-card a:hover {
    color: var(--primary-color);
}

.nav-contact-info {
    padding-top: 30px;
}
.nav-contact-info a {
    display: inline-flex;
    gap: 15px;
    font-size: 18px;
}
.nav-contact-info a:hover {
    color: var(--primary-color);
}
.nav-contact-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/*===== about us page style start hare ======== */


.trusted-partner-area {
    padding: 50px 0;
}

.trusted-partner-wrapper {
    background: url(images/about-us-img.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 670px;
    border-radius: 49px;
    padding: 20px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}
.trusted-partner-wrapper::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.510);
    border-radius: 49px;
    z-index: -1;
}
.trusted-partner-wrapper h2 {
    font-size: 50px;
    text-transform: uppercase;
    color: var(--white-color);
    font-weight: 700;
    text-align: center;
}

.partner-inner-box {
    max-width: 466px;
    border-radius: 49px;
    background-color: #efefef;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    left: -65px;
    bottom: -65px;
}

.partner-inner-box p {
    font-weight: 300;
}

/* Portfolio Page  */

.coming-text-wp {
    min-height: 40vh;
    display: flex;
    align-items: center;
}
.coming-text-wp h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-size: 50px;
}



/* Hide content until page is ready */
body {
    height: 100dvh;
    overflow: hidden;
}

body.pace-done {
    height: auto;
    overflow: unset;
}

/* Custom GIF overlay container */
.pace {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    visibility: visible;
    transition: 0.2s;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    display: none !important;
}

.pace-custom-loader img {
    width: 25%;
    height: auto;
}

body.pace-done .pace-custom-loader {
    visibility: hidden;
    opacity: 1;
}

.list-unstyled .nav-link {
    color: #000;
}

.list-unstyled .nav-link.active {
    color: var(--primary-color);
}